IoT_LoRa/codes/node-red_codes/ldr.json
[
    {
        "id": "b4667ec4e2b8b59d",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "90a3fa8594bd8624",
        "type": "mqtt in",
        "z": "b4667ec4e2b8b59d",
        "name": "MQTT in",
        "topic": "#",
        "qos": "0",
        "datatype": "auto",
        "broker": "25ca0126e81c401e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 300,
        "y": 240,
        "wires": [
            [
                "38066e8b4fec6fbc",
                "3358d16de56513e7"
            ]
        ]
    },
    {
        "id": "38066e8b4fec6fbc",
        "type": "debug",
        "z": "b4667ec4e2b8b59d",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "33911029aec13bbc",
        "type": "comment",
        "z": "b4667ec4e2b8b59d",
        "name": "",
        "info": "frm_payload = frame payload = the received data\nit is written in base 64 and should be converted to decimal",
        "x": 580,
        "y": 300,
        "wires": []
    },
    {
        "id": "3358d16de56513e7",
        "type": "function",
        "z": "b4667ec4e2b8b59d",
        "name": "Decrypt Payload",
        "func": "\n// msg3 - Decrypt as Binary value (MSB,LSB)\nvar msg3 = { payload: msg.payload.length };\nmsg3.payload = JSON.parse(msg.payload);\n\n// convert from base64 to hexadecimal\nmsg3.payload = new Buffer(msg3.payload.uplink_message.frm_payload, 'base64').toString('hex');\nnode.warn(msg3.payload); // print hexadecimal value\n\n// convert to integer value\nmsg3.payload = parseInt(msg3.payload, 16);\n\nreturn [msg3];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 340,
        "wires": [
            [
                "054c869bd259e0ba",
                "10c5b26cac8f3c35"
            ]
        ]
    },
    {
        "id": "10c5b26cac8f3c35",
        "type": "ui_gauge",
        "z": "b4667ec4e2b8b59d",
        "name": "",
        "group": "811e5a4a3ece345d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "500",
        "seg2": "1500",
        "className": "",
        "x": 790,
        "y": 340,
        "wires": []
    },
    {
        "id": "054c869bd259e0ba",
        "type": "debug",
        "z": "b4667ec4e2b8b59d",
        "name": "Decrypted payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 420,
        "wires": []
    },
    {
        "id": "25ca0126e81c401e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "811e5a4a3ece345d",
        "type": "ui_group",
        "name": "Default",
        "tab": "9c22a6a0e9ec5361",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9c22a6a0e9ec5361",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]